<style>
    #score_card button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1em;
    }
    #score_card button:hover {
        background-color: #45a049;
    }
</style>
{% set visible = "hidden" %}
{% if show == 'visible' %}
{% set visible = "visible" %}
{% endif %}
<div id="score_card" {{ visible }}>
        <button hx-get="/score_card_detail/{{room_id}}"  hx-trigger="click" hx-swap hx-target="#scores">
            Score
        </button>
        <br>
        {% for player in players %}
        {{player.name}} - {{player.total_score}}
        {% endfor %}
</div>