<div class="card">
    <div class="top-left">
        <span class="rank {{ top_discard.suit }}">{{ top_discard.rank_html }}</span>
        <span class="suit {{ top_discard.suit }}">{{ top_discard.suit_html}}</span>
    </div>
    <div class="middle">
        <span class="suit large {{ top_discard.suit }}">{{ top_discard.suit_html }}</span>
    </div>
    <div class="bottom-right">
        <span class="rank {{ top_discard.suit }}">{{ top_discard.rank_html }}</span>
        <span class="suit {{ top_discard.suit }}">{{ top_discard.suit_html}}</span>
    </div>
</div>